<header class="traveltour-header-wrap traveltour-header-style-plain  
traveltour-style-menu-right traveltour-sticky-navigation traveltour-style-fixed">
    <div class="traveltour-header-background"></div>
    <div class="traveltour-header-container  traveltour-container">

        <div class="traveltour-header-container-inner clearfix">
            <div class="traveltour-logo  traveltour-item-pdlr">
                <div class="traveltour-logo-inner">
                    <a href="/"><img src="{{assets}}images/travelgoals.uk-logo.png"
                                     alt="Travelgoals.uk-logo"
                                     name="Travelgoals.uk"
                                     width="250" height="52"
                                     title="Travelgoals.uk"/>
                    </a>
                </div>
            </div>
            <div class="traveltour-navigation traveltour-item-pdlr clearfix ">
                <div class="traveltour-main-menu" id="traveltour-main-menu">
                    <ul id="menu-main-navigation-1" class="sf-menu">
                        <li class="{{home}} menu-item  traveltour-normal-menu"><a href="/" class="sf-with-ul-pre">Home</a>
                        </li>
                        <li class="{{aboutus}} menu-item traveltour-normal-menu"><a href="/aboutus" class="sf-with-ul-pre">About us</a>
                        </li>
                        <li class="{{services}} menu-item traveltour-normal-menu"><a href="/services">Services</a></li>
                        <li class="{{destinations}} menu-item menu-item-has-children traveltour-normal-menu"><a
                                href="/destinations" class="sf-with-ul-pre">Destinations</a>
<!--                            <ul class="sub-menu">-->
<!--                                <li class="menu-item menu-item-has-children" data-size="60"><a-->
<!--                                        href="tour-full-with-frame-right-sidebar.html" class="sf-with-ul-pre">Tour-->
<!--                                    Full</a>-->
<!--                                    <ul class="sub-menu">-->
<!--                                        <li class="menu-item"><a href="tour-full-width.html">Tour Full Right Sidebar</a>-->
<!--                                        </li>-->
<!--                                        <li class="menu-item"><a href="tour-full-left-sidebar.html">Tour Full Left-->
<!--                                            Sidebar</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-full-with-frame-right-sidebar.html">Tour-->
<!--                                            Full With Frame Right Sidebar</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-full-with-frame-left-sidebar.html">Tour Full-->
<!--                                            With Frame Left Sidebar</a></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
<!--                                <li class="menu-item menu-item-has-children" data-size="60"><a-->
<!--                                        href="tour-side-thumbnail-with-frame-right-sidebar.html" class="sf-with-ul-pre">Tour-->
<!--                                    Side Thumbnail</a>-->
<!--                                    <ul class="sub-menu">-->
<!--                                        <li class="menu-item"><a-->
<!--                                                href="tour-side-thumbnail-with-frame-right-sidebar.html">Tour Side-->
<!--                                            Thumbnail With Frame Right Sidebar</a></li>-->
<!--                                        <li class="menu-item"><a-->
<!--                                                href="tour-side-thumbnail-with-frame-left-sidebar.html">Tour Side-->
<!--                                            Thumbnail With Frame Left Sidebar</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-side-thumbnail-right-sidebar.html">Tour Side-->
<!--                                            Thumbnail Right Sidebar</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-side-thumbnail-left-sidebar.html">Tour Side-->
<!--                                            Thumbnail Left Sidebar</a></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
<!--                                <li class="menu-item menu-item-has-children" data-size="60"><a-->
<!--                                        href="tour-thumbnail-style-3-columns.html" class="sf-with-ul-pre">Tour Thumbnail-->
<!--                                    Style</a>-->
<!--                                    <ul class="sub-menu">-->
<!--                                        <li class="menu-item"><a href="tour-thumbnail-style-2-columns.html">Tour-->
<!--                                            Thumbnail Style 2 Columns</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-thumbnail-style-3-columns.html">Tour-->
<!--                                            Thumbnail Style 3 Columns</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-thumbnail-style-4-columns.html">Tour-->
<!--                                            Thumbnail Style 4 Columns</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-thumbnail-style-5-columns.html">Tour-->
<!--                                            Thumbnail Style 5 Columns</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-thumbnail-no-space-2-columns.html">Tour-->
<!--                                            Thumbnail No Space 2 Columns</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-thumbnail-no-space-3-columns.html">Tour-->
<!--                                            Thumbnail No Space 3 Columns</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-thumbnail-no-space-4-columns.html">Tour-->
<!--                                            Thumbnail No Space 4 Columns</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-thumbnail-no-space-5-columns.html">Tour-->
<!--                                            Thumbnail No Space 5 Columns</a></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
<!--                                <li class="menu-item menu-item-has-children" data-size="60"><a-->
<!--                                        href="tour-classic-3-columns.html" class="sf-with-ul-pre">Tour Classic</a>-->
<!--                                    <ul class="sub-menu">-->
<!--                                        <li class="menu-item"><a href="tour-classic-2-columns.html">Tour Classic 2-->
<!--                                            Columns</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-classic-3-columns.html">Tour Classic 3-->
<!--                                            Columns</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-classic-4-columns.html">Tour Classic 4-->
<!--                                            Columns</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-classic-5-columns.html">Tour Classic 5-->
<!--                                            Columns</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-classic-with-frame-2-columns.html">Tour-->
<!--                                            Classic With Frame 2 Columns</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-classic-with-frame-3-columns.html">Tour-->
<!--                                            Classic With Frame 3 Columns</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-classic-with-frame-4-columns.html">Tour-->
<!--                                            Classic With Frame 4 Columns</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-classic-with-frame-5-columns.html">Tour-->
<!--                                            Classic With Frame 5 Columns</a></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
<!--                                <li class="menu-item menu-item-has-children" data-size="60"><a-->
<!--                                        href="tour-classic-with-detail-3-columns.html" class="sf-with-ul-pre">Tour-->
<!--                                    Classic With Detail</a>-->
<!--                                    <ul class="sub-menu">-->
<!--                                        <li class="menu-item"><a href="tour-classic-with-detail-2-columns.html">Tour-->
<!--                                            Classic With Detail 2 Columns</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-classic-with-detail-3-columns.html">Tour-->
<!--                                            Classic With Detail 3 Columns</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-classic-with-detail-4-columns.html">Tour-->
<!--                                            Classic With Detail 4 Columns</a></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
<!--                                <li class="menu-item menu-item-has-children" data-size="60"><a-->
<!--                                        href="tour-classic-with-custom-excerpt-3-columns.html" class="sf-with-ul-pre">Tour-->
<!--                                    Classic With Custom Excerpt</a>-->
<!--                                    <ul class="sub-menu">-->
<!--                                        <li class="menu-item"><a href="tour-classic-with-custom-excerpt-2-columns.html">Tour-->
<!--                                            Classic With Custom Excerpt 2 Columns</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-classic-with-custom-excerpt-3-columns.html">Tour-->
<!--                                            Classic With Custom Excerpt 3 Columns</a></li>-->
<!--                                        <li class="menu-item"><a href="tour-classic-with-custom-excerpt-4-columns.html">Tour-->
<!--                                            Classic With Custom Excerpt 4 Columns</a></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
<!--                            </ul>-->
                        </li>
                        <li class="{{ex}} menu-item  traveltour-normal-menu"><a href="/exclusive-deals" class="sf-with-ul-pre">Exclusive
                            Deals</a></li>
                        <li class="{{contactus}} menu-item traveltour-normal-menu"><a href="/contactus">Contact Us</a></li>
                    </ul>
                    <div class="traveltour-navigation-slide-bar" id="traveltour-navigation-slide-bar"></div>
                </div>
                <div class="traveltour-main-menu-right-wrap clearfix ">
                    <div class="traveltour-main-menu-search" id="traveltour-top-search"><i class="fa fa-search"></i>
                    </div>
                    <div class="traveltour-top-search-wrap">
                        <div class="traveltour-top-search-close"></div>
                        <div class="traveltour-top-search-row">
                            <div class="traveltour-top-search-cell">
                                <form role="search" method="get" class="search-form" action="https://www.google.com/search">
                                    <input type="text" class="search-field traveltour-title-font"
                                           placeholder="Search travelgoals.uk" value="" name="q">
                                    <div class="traveltour-top-search-submit"><i class="fa fa-search"></i></div>
                                    <input type="submit" class="search-submit" value="Search">
                                    <div class="traveltour-top-search-close"><i class="icon_close"></i></div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- travel tour-navigation -->
        </div>
        <!-- travel tour-header-inner -->
    </div>
    <!-- travel tour-header-container -->
</header>
