

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" href="{{assets}}images/favicon.png"/>
    <meta name="description" content="{{desc}}">
    <meta name="keywords" content="{{keywords}}"/>
<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{og_url}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{og_title}}">
<meta property="og:description" content="{{desc}}">
<meta property="og:image" content="{{og_image}}">

    <!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="travelgoals.uk">
<meta property="twitter:url" content="{{og_url}}">
<meta name="twitter:title" content="{{og_title}}">
<meta name="twitter:description" content="{{desc}}">
<meta name="twitter:image" content="{{og_image}}">
    

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width initial-scale=1.0, maximum-scale=1.0,
          minimum-scale=1.0, user-scalable=no shrink-to-fit=no">
    <meta name="google-site-verification"
          content="" />
    <link rel='stylesheet' id='gdlr-core-google-font-css'  href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.2.4' type='text/css' media='all' />
    <link rel='stylesheet' href='{{assets}}plugins/revslider/public/assets/css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='{{assets}}plugins/tourmaster/plugins/elegant-font/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='{{assets}}plugins/tourmaster/tourmaster.css' type='text/css' media='all' />
    <link rel='stylesheet' href='{{assets}}plugins/goodlayers-core/plugins/combine/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='{{assets}}plugins/goodlayers-core/include/css/page-builder.css' type='text/css' media='all' />
    <link rel='stylesheet' href='{{assets}}css/tourmaster-style-custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href='{{assets}}css/style-core.css' type='text/css' media='all' />
    <link rel='stylesheet' href='{{assets}}css/traveltour-style-custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href="{{assets}}css/custom.css" type="text/css" media="all"/>

<!--    <script type="text/javascript"-->
<!--            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANIg-GgobIKa95MgdD4_WwreBVpregN6c&libraries=places&v=3.31"></script>-->

</head>
