<div class="traveltour-mobile-header-wrap">
    <div class="traveltour-top-bar">
        <div class="traveltour-top-bar-background"></div>
        <div class="traveltour-top-bar-container clearfix traveltour-top-bar-full ">
            <div class="traveltour-top-bar-left traveltour-item-pdlr travel-tour-hide-on-mobile"><i class="fa fa-phone"
                                                                                                    style="font-size: 16px ;color: #94999f ;margin-right: 10px ;"></i>
                                                                                                    <a style="color:#fff;" href="tel:02081257007">02081257007</a>
                <i class="fa fa-envelope-o" style="font-size: 16px ;color: #94999f ;margin-left: 30px ;margin-right: 10px ;"></i> info@travelgoals.uk
            </div>
            <div class="traveltour-top-bar-right traveltour-item-pdlr">
                <div class="traveltour-top-bar-right-social"><a href="https://www.facebook.com/TravelGoalsUK/" target="_blank" class="traveltour-top-bar-social-icon" title="facebook"><i class="fa fa-facebook" ></i></a><a href="#" target="_blank" class="traveltour-top-bar-social-icon" title="flickr"><i class="fa fa-flickr" ></i></a><a href="#" target="_blank" class="traveltour-top-bar-social-icon" title="google-plus"><i class="fa fa-google-plus" ></i></a><a href="#" target="_blank" class="traveltour-top-bar-social-icon" title="twitter"><i class="fa fa-twitter" ></i></a></div>
                <div class="tourmaster-user-top-bar tourmaster-guest">

                </div>
            </div>
        </div>
    </div>
    <div class="traveltour-mobile-header traveltour-header-background traveltour-style-slide" id="traveltour-mobile-header">
        <div class="traveltour-mobile-header-container traveltour-container">
            <div class="traveltour-logo  traveltour-item-pdlr">
                <div class="traveltour-logo-inner" style="width:200px; padding-left:24px;">
                    <a href="/"><img src="{{assets}}images/travelgoals.uk-logo.png" alt="travelgoals.uk-logo"
                                     name="travelgoals.uk-logo"
                                     width="250" height="52" title="travelgoals.uk-logo" /></a>
                </div>
            </div>
            <div class="traveltour-mobile-menu-right">
                <div class="traveltour-main-menu-search" id="traveltour-mobile-top-search"><i class="fa fa-search"></i></div>
                <div class="traveltour-top-search-wrap">
                    <div class="traveltour-top-search-close"></div>

                    <div class="traveltour-top-search-row">
                        <div class="traveltour-top-search-cell">
                            <form role="search" method="get" class="search-form" action="index.html">
                                <input type="text" class="search-field traveltour-title-font" placeholder="Search..." value="" name="s">
                                <div class="traveltour-top-search-submit"><i class="fa fa-search"></i></div>
                                <input type="submit" class="search-submit" value="Search">
                                <div class="traveltour-top-search-close"><i class="icon_close"></i></div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="traveltour-mobile-menu"><a class="traveltour-mm-menu-button traveltour-mobile-menu-button traveltour-mobile-button-hamburger" href="#traveltour-mobile-menu"><span></span></a>
                    <div class="traveltour-mm-menu-wrap traveltour-navigation-font" id="traveltour-mobile-menu" data-slide="right">
                        <ul id="menu-main-navigation" class="m-menu">
                            <li class="menu-item"><a href="/">Home</a></li>
                            <li class="menu-item "><a href="/aboutus">About us</a></li>
                            <li class="menu-item   "><a href="/services">Services</a></li>
                            <li class="menu-item"><a href="/destinations">Destinations</a></li>
                            <li class="menu-item "><a href="/exclusive-deals">Exclusive Deals</a></li>
                            <li class="menu-item"><a href="/contactus">Contact us</a>
<!--                                <ul class="sub-menu">-->
<!--                                    <li class="menu-item menu-item-has-children"><a href="blog-full-right-sidebar-with-frame.html">Blog Full</a>-->
<!--                                        <ul class="sub-menu">-->
<!--                                            <li class="menu-item"><a href="blog-full-right-sidebar-with-frame.html">Blog Full Right Sidebar With Frame</a></li>-->
<!--                                            <li class="menu-item"><a href="blog-full-left-sidebar-with-frame.html">Blog Full Left Sidebar With Frame</a></li>-->
<!--                                            <li class="menu-item"><a href="blog-full-both-sidebar-with-frame.html">Blog Full Both Sidebar With Frame</a></li>-->
<!--                                            <li class="menu-item"><a href="blog-full-right-sidebar.html">Blog Full Right Sidebar</a></li>-->
<!--                                            <li class="menu-item"><a href="blog-full-left-sidebar.html">Blog Full Left Sidebar</a></li>-->
<!--                                            <li class="menu-item"><a href="blog-full-both-sidebar.html">Blog Full Both Sidebar</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li class="menu-item menu-item-has-children"><a href="blog-grid-3-columns-no-space.html">Blog Grid</a>-->
<!--                                        <ul class="sub-menu">-->
<!--                                            <li class="menu-item"><a href="blog-grid-2-columns.html">Blog Grid 2 Columns</a></li>-->
<!--                                            <li class="menu-item"><a href="blog-grid-3-columns.html">Blog Grid 3 Columns</a></li>-->
<!--                                            <li class="menu-item"><a href="blog-grid-4-columns.html">Blog Grid 4 Columns</a></li>-->
<!--                                            <li class="menu-item"><a href="blog-grid-2-columns-no-space.html">Blog Grid 2 Columns No Space</a></li>-->
<!--                                            <li class="menu-item"><a href="blog-grid-3-columns-no-space.html">Blog Grid 3 Columns No Space</a></li>-->
<!--                                            <li class="menu-item"><a href="blog-grid-4-columns-no-space.html">Blog Grid 4 Columns No Space</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li class="menu-item menu-item-has-children"><a href="blog-3-columns-with-frame.html">Blog Columns</a>-->
<!--                                        <ul class="sub-menu">-->
<!--                                            <li class="menu-item"><a href="blog-2-columns-with-frame.html">Blog 2 Columns With Frame</a></li>-->
<!--                                            <li class="menu-item"><a href="blog-3-columns-with-frame.html">Blog 3 Columns With Frame</a></li>-->
<!--                                            <li class="menu-item"><a href="blog-4-columns-with-frame.html">Blog 4 Columns With Frame</a></li>-->
<!--                                            <li class="menu-item"><a href="blog-2-columns.html">Blog 2 Columns</a></li>-->
<!--                                            <li class="menu-item"><a href="blog-3-columns.html">Blog 3 Columns</a></li>-->
<!--                                            <li class="menu-item"><a href="blog-4-columns.html">Blog 4 Columns</a></li>-->
<!--                                            <li class="menu-item"><a href="blog-3-columns-with-frame-post-format.html">Blog Columns With Post Format</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li class="menu-item"><a href="standard-post-type.html" >Single Post</a></li>-->
<!--                                </ul>-->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


