<!--<form class="tourmaster-form-field  tourmaster-medium" action="#" method="GET">-->
<!--    <div class="tourmaster-tour-search-field tourmaster-tour-search-field-keywords" style="padding-right: 2px;margin-bottom: 2px;">-->
<!--        <div class="tourmaster-tour-search-field-inner">-->
<!--            <input name="tour-search" type="text" placeholder="Keywords" value="" />-->
<!--        </div>-->
<!--    </div>-->
    <!--<div class="tourmaster-tour-search-field tourmaster-tour-search-field-tax"-->
<!--     style="padding-right: 2px;margin-bottom: 2px;">-->
<!--    <div class="tourmaster-combobox-wrap">-->
<!--        <select name="tax-tour-destination">-->
<!--            <option value="">Destination</option>-->
<!--            <option value="africa-adventure">Africa Adventure</option>-->
<!--            <option value="africa-wild">Africa Wild</option>-->
<!--            <option value="america">America</option>-->
<!--            <option value="asia">Asia</option>-->
<!--            <option value="scandinavia">Scandinavia</option>-->
<!--            <option value="western-europe">Western Europe</option>-->
<!--        </select>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="tourmaster-tour-search-field tourmaster-tour-search-field-duration" style="padding-right: 2px;margin-bottom: 2px;">-->
<!--    <div class="tourmaster-combobox-wrap">-->
<!--        <select name="duration">-->
<!--            <option value="">Duration</option>-->
<!--            <option value="1">1 Day Tour</option>-->
<!--            <option value="2">2-4 Days Tour</option>-->
<!--            <option value="5">5-7 Days Tour</option>-->
<!--            <option value="7">7+ Days Tour</option>-->
<!--        </select>-->
<!--    </div>-->
<!--</div>-->
<!--<input class="tourmaster-tour-search-submit" type="submit" value="Search" />-->

<!--</form>-->
