---
layout : default.html
title : About Us | Travelgoals.uk | Making Travel Dreams Possible | #travelgoalsuk | www.travelgoals.uk
aboutus : current-menu-item
og_image : https://www.travelgoals.uk/public/images/travelgoals.uk.og-image-home.jpg
og_title : Discover Planet Earth | Experience all the wonder that the world has to offer
og_url : https://www.travelgoals.uk/
desc : travelgoals.uk Discover Planet Earth, Experience all the wonder that the world has to offer,  Discover amzaing places at exclusive deals
keywords : travelgoals, Popular, about, about us, about travelgoals, popular tours, tours, uk, deals, exclusive deals, travelgoals.uk, travelgoalsuk, home, Discover, earth, beauty, wonders of word, wonders, world, uk,  travelgoals, goals, #travelgoals, #travelgoalsuk, travel, travel uk uk, travels, travel uk, UK, travelgoals uk, uk travelgoals, uk based, travel company travel company uk
---

<div class="traveltour-body-outer-wrapper ">
    <div class="traveltour-body-wrapper clearfix  traveltour-with-transparent-header traveltour-with-frame">

        <div class="traveltour-page-title-wrap  traveltour-style-large traveltour-center-align"
             style="background:url('/public/images/travelgoals-uk-main.jpg') center center; background-size: cover; ">
            <div class="traveltour-header-transparent-substitute"></div>
            <div class="traveltour-page-title-overlay" style="opacity:.35"></div>
            <div class="traveltour-page-title-container traveltour-container">
                <div class="traveltour-page-title-content traveltour-item-pdlr">
                    <h1 class="traveltour-page-title">About Us </h1>
                    <div class="traveltour-page-caption">Making Travel Dreams Possible</div>
                </div>
            </div>
        </div>
        <div class="traveltour-page-wrapper" id="traveltour-page-wrapper">
            <div class="gdlr-core-page-builder-body">
                <div class="gdlr-core-pbf-wrapper " id="div_b01f_0">
                    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                            <div class="gdlr-core-pbf-column gdlr-core-column-15 gdlr-core-column-first">
                                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " id="div_b01f_1" data-sync-height="height-1" data-sync-height-center>
                                    <div class="gdlr-core-pbf-background-wrap" id="div_b01f_2"></div>
                                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content" data-gdlr-animation="fadeInDown" data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                                <div class="gdlr-core-title-item-title-wrap">
                                                    <h4 class="gdlr-core-title-item-title gdlr-core-skin-title" id="h4_b01f_0">Top Travel Destinations
                                                        <span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h4></div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align" id="div_b01f_3">
                                                <div class="gdlr-core-text-box-item-content" id="div_b01f_4">
                                                    <p>Get exclusive discounts on flights & hotels to the most exotic holiday destinations in 2021</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-column gdlr-core-column-15">
                                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " id="div_b01f_5" data-sync-height="height-1" data-sync-height-center>
                                    <div class="gdlr-core-pbf-background-wrap" id="div_b01f_6"></div>
                                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content" data-gdlr-animation="fadeInDown" data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                                <div class="gdlr-core-title-item-title-wrap">
                                                    <h4 class="gdlr-core-title-item-title gdlr-core-skin-title" id="h4_b01f_1">Tailor-made Holidays<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h4></div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align" id="div_b01f_7">
                                                <div class="gdlr-core-text-box-item-content" id="div_b01f_8">
                                                    <p>Bespoke holidays that live up to all your expectations. We make sure every little detail is attended to!
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-column gdlr-core-column-15">
                                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " id="div_b01f_9" data-sync-height="height-1" data-sync-height-center>
                                    <div class="gdlr-core-pbf-background-wrap" id="div_b01f_10"></div>
                                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content" data-gdlr-animation="fadeInDown" data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                                <div class="gdlr-core-title-item-title-wrap">
                                                    <h4 class="gdlr-core-title-item-title gdlr-core-skin-title" id="h4_b01f_2">Budget Friendly<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h4></div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align" id="div_b01f_11">
                                                <div class="gdlr-core-text-box-item-content" id="div_b01f_12">
                                                    <p>If you’re on a budget, we’ve got you covered! We can help you find the best deals to over 100,000 destinations!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-column gdlr-core-column-15">
                                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " id="div_b01f_13" data-sync-height="height-1" data-sync-height-center>
                                    <div class="gdlr-core-pbf-background-wrap" id="div_b01f_14"></div>
                                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content" data-gdlr-animation="fadeInDown" data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                                <div class="gdlr-core-title-item-title-wrap">
                                                    <h4 class="gdlr-core-title-item-title gdlr-core-skin-title" id="h4_b01f_3">Invested In the Experience
                                                        <span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h4></div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align" id="div_b01f_15">
                                                <div class="gdlr-core-text-box-item-content" id="div_b01f_16">
                                                    <p>From flights and accommodation to train tickets and event passes – we’ll help you with every aspect of your holiday!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gdlr-core-pbf-wrapper " id="div_b01f_17">
                    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                            <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first" data-skin="Dark">
                                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-left" id="div_b01f_18" data-sync-height="height-2">
                                    <div class="gdlr-core-pbf-background-wrap" id="div_b01f_19">
                                        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"

                                             style="background:url('{{assets}}images/travelgoals.uk-aboutus800X700.jpg') center center; background-size:cover;" data-parallax-speed="0.4"></div>
                                    </div>
                                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content" data-gdlr-animation="fadeInRight" data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr">
                                                <div class="gdlr-core-column-service-content-wrapper">
                                                    <div class="gdlr-core-column-service-title-wrap">
                                                        <h3 class="gdlr-core-column-service-title gdlr-core-skin-title" id="h3_b01f_0">Discover Planet Earth
                                                        </h3></div>
                                                    <div class="gdlr-core-column-service-content" id="div_b01f_21">
                                                        <p>Journey through exclusive travel destinations and experience the pure beauty and wonder of planet Earth</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr">
                                                <div class="gdlr-core-column-service-content-wrapper">
                                                    <div class="gdlr-core-column-service-title-wrap">
                                                        <h3 class="gdlr-core-column-service-title gdlr-core-skin-title" id="h3_b01f_1">Your Bucket List
                                                        </h3></div>
                                                    <div class="gdlr-core-column-service-content" id="div_b01f_22">
                                                        <p>Picture-perfect beaches to jungle adventures, we’ll get you to your dream holiday destination!
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" id="div_b01f_23">
                                                <div class="gdlr-core-column-service-content-wrapper">
                                                    <div class="gdlr-core-column-service-title-wrap">
                                                        <h3 class="gdlr-core-column-service-title gdlr-core-skin-title" id="h3_b01f_2">Where The Journey Begins</h3></div>
                                                    <div class="gdlr-core-column-service-content" id="div_b01f_24">
                                                        <p>Don’t know where to go on your next holiday? Ask us for recommendations on the best holiday destinations</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-column gdlr-core-column-30">
                                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-right" id="div_b01f_25" data-sync-height="height-2" data-sync-height-center>
                                    <div class="gdlr-core-pbf-background-wrap" id="div_b01f_26"></div>
                                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content" data-gdlr-animation="fadeInLeft" data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_b01f_27">
                                                <div class="gdlr-core-title-item-title-wrap">
                                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" id="h3_b01f_3">Where Travel Goals Come To Life
                                                        <span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3></div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" id="div_b01f_28">
                                                <div class="gdlr-core-text-box-item-content" id="div_b01f_29">
                                                    <p>Waiting for the perfect time to go on that elusive dream getaway? There’s really no better time than now! <br><br>
                                                        The best way to get to your goals is to take action! So why wait? Get in touch with us and we’ll help you plan the greatest holiday of your life!</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" id="div_b01f_30"><a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border" href="/contactus" id="a_b01f_0"><span class="gdlr-core-content" >Contact Us</span></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gdlr-core-pbf-wrapper " id="div_b01f_31" data-skin="Dark">
                    <div class="gdlr-core-pbf-background-wrap" id="div_b01f_32">
                        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
                             style="background: url('{{assets}}images/travelgoals.uk-aboutus1280X768.jpg') center center; background-size:cover;" data-parallax-speed="0.2"></div>
                    </div>
                    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js " data-gdlr-animation="fadeInUp" data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
                        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                            <div class="gdlr-core-pbf-column gdlr-core-column-15 gdlr-core-column-first" data-skin="About Counter">
                                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " id="div_b01f_34">
                                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-counter-item gdlr-core-item-pdlr gdlr-core-item-pdb " id="div_b01f_35">
                                                <div class="gdlr-core-counter-item-number gdlr-core-skin-title gdlr-core-title-font" id="div_b01f_36"><span class="gdlr-core-counter-item-count gdlr-core-js" data-duration="4000" data-counter-start="0" data-counter-end="120000">0</span><span class="gdlr-core-counter-item-suffix">+</span></div>
                                                <div class="gdlr-core-counter-item-bottom-text gdlr-core-skin-content" id="div_b01f_37">Destinations</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-column gdlr-core-column-15" data-skin="About Counter">
                                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " id="div_b01f_38">
                                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-counter-item gdlr-core-item-pdlr gdlr-core-item-pdb " id="div_b01f_39">
                                                <div class="gdlr-core-counter-item-number gdlr-core-skin-title gdlr-core-title-font" id="div_b01f_40"><span class="gdlr-core-counter-item-count gdlr-core-js" data-duration="4000" data-counter-start="0" data-counter-end="1000">0</span> <span class="gdlr-core-counter-item-suffix">+</span></div>
                                                <div class="gdlr-core-counter-item-bottom-text gdlr-core-skin-content" id="div_b01f_41">Clients served</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-column gdlr-core-column-15" data-skin="About Counter">
                                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " id="div_b01f_42">
                                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-counter-item gdlr-core-item-pdlr gdlr-core-item-pdb " id="div_b01f_43">
                                                <div class="gdlr-core-counter-item-number gdlr-core-skin-title gdlr-core-title-font" id="div_b01f_44"><span class="gdlr-core-counter-item-count gdlr-core-js" data-duration="4000" data-counter-start="0" data-counter-end="500">0</span><span class="gdlr-core-counter-item-suffix">+</span></div>
                                                <div class="gdlr-core-counter-item-bottom-text gdlr-core-skin-content" id="div_b01f_45">Partner hotels
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-column gdlr-core-column-15" data-skin="About Counter">
                                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " id="div_b01f_46">
                                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-counter-item gdlr-core-item-pdlr gdlr-core-item-pdb " id="div_b01f_47">
                                                <div class="gdlr-core-counter-item-number gdlr-core-skin-title gdlr-core-title-font" id="div_b01f_48"><span class="gdlr-core-counter-item-count gdlr-core-js" data-duration="4000" data-counter-start="0" data-counter-end="10">0</span><span class="gdlr-core-counter-item-suffix">+</span></div>
                                                <div class="gdlr-core-counter-item-bottom-text gdlr-core-skin-content" id="div_b01f_49">Years of experience</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gdlr-core-pbf-wrapper " id="div_b01f_50">
                    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                            <div class="gdlr-core-pbf-column gdlr-core-column-24 gdlr-core-column-first">
                                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " id="div_b01f_51" data-sync-height="height-3">
                                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_b01f_52">
                                                <div class="gdlr-core-title-item-title-wrap">
                                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" id="h3_b01f_4">Helping you plan your dream holiday getaway<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3></div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-divider-item gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-divider-item-normal gdlr-core-left-align">
                                                <div class="gdlr-core-divider-container" id="div_b01f_53">
                                                    <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_b01f_54"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-column gdlr-core-column-36">
                                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " id="div_b01f_55" data-sync-height="height-3">
                                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content" data-gdlr-animation="fadeInRight" data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" id="div_b01f_56">
                                                <div class="gdlr-core-text-box-item-content" id="div_b01f_57">
                                                    <p>Journey through the wonders of planet Earth and join the thousands of others who have embarked on life-changing getaways to the most majestic destinations in the world. We’ll help plan the holiday of your dreams and turn your travel goals into life-changing experiences filled with magic and excitement. Give us a call right now and let’s get started on crossing off those travel goals, one spectacular destination at a time!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div><a href="#traveltour-top-anchor" class="traveltour-footer-back-to-top-button" id="traveltour-footer-back-to-top-button"><i class="fa fa-angle-up" ></i></a>

